name: docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install docs dependencies
        run: |
          pip install mkdocs mkdocs-material mkdocs-mermaid2-plugin pymdown-extensions
      - name: Deploy docs to GitHub Pages
        run: mkdocs gh-deploy --force
