name: docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install docs dependencies
        run: |
          pip install \
            mkdocs==1.6.1 \
            mkdocs-material==9.5.39 \
            mkdocs-mermaid2-plugin==1.2.1 \
            pymdown-extensions==10.8.1
      - name: Deploy docs to GitHub Pages
        run: mkdocs gh-deploy --force
